.btnComponent {
    background: var(--theme-primary-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    padding: 11px 27px;
    border-radius: 19px;
    transition: all 0.3s ease;
}

.btnComponent._small {
    padding: 0 16px;
    line-height: 18px;
}

.btnComponent:hover {
    color: var(--theme-primary-color);
    background: #ffffff;
}
